.menu {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 0;
    /* letter-spacing: 1px; */
    list-style-type: none;  

}
.menu li {
    list-style-type: none;
    width: 100%;
    padding-bottom: 8px;
}

.menu li:hover {
    /* border-bottom: 1px solid #042E76;
    border-width: 100%; */
    cursor: pointer;   
}