.firstImg {
    position: relative;
    animation-name: first;
    animation-duration: 4s;
}

.img1 {
    position: absolute;
    height: 550px;
    right: 0;
    /* width: 170px; */
    animation-name: second;
    animation-duration: 1s;
}

.secondImg {
    /* position: relative; */
    /* right: 0; */
}

.img2 {
    position: absolute;
    right: 300px;
    top: 30px;
    height: 520px;
    
}

.blueDiv {
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: blue;
    z-index: 20;
    right: 200px;
    top: 350px;
}
/* 
@keyframes first {
    0% {
        left: 0px;
        top: 500px;
    }

    50% {
        left: 0px;
        top: 200px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
} */

/* @keyframes second {
    0% {
        width: 0px;
    }

    25% {
        width: 80px;
    }

    50% {
        width: 160px;
    }

    75% {
        width: 240px;
    }

    90% {
        width: 320px;
    }

    100% {
        width: 403px;
    }
} */