.mainDiv {
    position: relative;
    animation-name: first;
    animation-duration: 4s;
    /* width: 50%; */
}

.img1 {
    position: absolute;
    height: 500px;
    right: 0;
    width: 50%;
    /* width: 170px; */
    animation-name: second;
    animation-duration: 1s;
}

.img2 {
    position: absolute;
    right: 200px;
    top: 40px;
    height: 460px;
    width: 55%;
    
}

.blueDiv {
    position: absolute;
    width: 70px;
    height: 150px;
    background-color: blue;
    z-index: 20;
    right: 160px;
    top: 350px;
}
/* 
@keyframes first {
    0% {
        left: 0px;
        top: 500px;
    }

    50% {
        left: 0px;
        top: 200px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
} */

/* @keyframes second {
    0% {
        width: 0px;
    }

    25% {
        width: 80px;
    }

    50% {
        width: 160px;
    }

    75% {
        width: 240px;
    }

    90% {
        width: 320px;
    }

    100% {
        width: 403px;
    }
} */